<footer class="text-muted bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="footer-link text-light">
                    <li>Home</li>
                    <li>|</li>
                    <li>Term and Conditions</li>
                    <li>|</li>
                    <li>Privacy Policy</li>
                    <li>|</li>
                    <li>Collection Statement</li>
                    <li>|</li>
                    <li>Help</li>
                    <li>|</li>
                    <li>Manage Account</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="footer-link text-light">
                    <li>Copyright©2016 DEMO Streaming. All Rights Reserved</li> 
                </ul>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-5 footer-social">
                <img src="../assets/img/social/facebookWhite.svg" alt="">
                <img src="../assets/img/social/twitterWhite.svg" alt="">
                <img src="../assets/img/social/instagramWhite.svg" alt="">
            </div>
            <div class="col-md-7 footer-store">
                <img class="float-right" src="../assets/img/store/windowsStore.svg" alt="">
                <img class="float-right" src="../assets/img/store/playStore.svg" alt="">
                <img class="float-right" src="../assets/img/store/appStore.svg" alt="">
            </div>
        </div>
    </div>
</footer>