<header>
    <div class="navbar navbar-dark bg-primary box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>DEMO Streaming</strong>
            </a>
            <ul class="header-link">
                <li><button type="button" class="btn btn-link text-light">Log in</button></li>
                <li><button type="button" class="btn btn-dark">Start Your Free Trial</button></li>
            </ul>
        </div>
    </div>
</header>