<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <span>Popular Titles</span>
        </a>
    </div>
</div>
<main class="content-min-height">

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div ui-sref="series" class="col-md-2 cp">
                    <div class="card box-shadow bg-dark">
                        <img class="card-img-top" src="./assets/img/placeholder.png" alt="Card image cap">
                        <h3 class="text-center text-light">SERIES</h3>
                    </div>
                    <p>Popular Series</p>
                </div>
                <div ui-sref="movies" class="col-md-2 cp">
                    <div class="card box-shadow bg-dark">
                        <img class="card-img-top" src="./assets/img/placeholder.png" alt="Card image cap">
                        <h3 class="text-center text-light">MOVIES</h3>
                    </div>
                    <p>Popular Movies</p>
                </div>

            </div>
        </div>
    </div>

</main>